* {
  margin: 0;
  padding: 0;
}

body {
  --bg: linear-gradient(to bottom, #f0f0f0, #d9d9d9);
  --text: #222;
  --borders: solid 1px rgb(153, 153, 153);
  --div-bg: linear-gradient(to bottom, #e0e0e0, #c0c0c0);
  --content-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  --btn-bg: white;
  --btn-border: solid 1px gray;
  --btn-bg-hover-focus: rgb(241, 241, 241);
  --btn-bg-active: rgb(194, 194, 194);
  --input_bg: white;
  --th-bg: linear-gradient(to bottom, #d3d3d3, #b0b0b0);
  --tr-even: #f5f5f5;
  --tr-hover: #e0e0e0;
  --div-user: white;
  --input-error: #ffe6e6;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
}

body.dark {
  --bg: linear-gradient(to bottom, #272727, #3b3b3b);
  --text: #e0e0e0;
  --borders: solid 1px rgb(153, 153, 153);
  --div-bg: linear-gradient(to bottom, #2d2d2d, #090b0e);
  --content-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  --btn-bg: #14171b;
  --btn-border: solid 1px gray;
  --btn-shadow: 1px 1px 2px #686868;
  --btn-bg-hover-focus: rgb(13 13 13);
  --btn-bg-active: rgb(194, 194, 194);
  --input_bg: #232323;
  --th-bg: linear-gradient(to bottom, #2d2d2d, #050505);
  --tr-even: #00000057;
  --tr-hover: #262626;
  --darkreader-background-ffffff: #181a1b;
  --darkreader-background-ffffff: #181a1b;
  --div-user: #14171b;
  --input-error: #ffe6e6;
}

#toggleTheme {
  margin: 1em 6em 0 0;
  align-self: flex-end;
  text-shadow: var(--h1-shadow);
}

h1 {
  text-align: center;
  text-transform: uppercase;
  /*background: var(--h1-bg);
  border: var(--borders);
  padding: 0.5em 0.5em;
  box-shadow: var(--h1-shadow);*/
}

div {
  margin: 1em 5em;
  padding: 1em;
  border: var(--borders);
  background: var(--div-bg);
  text-align: center;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: var(--content-shadow);
}

button {
  padding: 0.5em 1em;
  font-weight: bold;
  background-color: var(--btn-bg);
  border: var(--btn-border);
  border-radius: 5px;
  color: var(--text);
  box-shadow: 1px 1px 2px #686868;
  transition: background 0.3s, transform 0.1s;
  cursor: pointer;
}

button#cerrarSesion {
  background-color: red;
  color: white;
}

p,
li {
  margin: 1em;
}

button:hover {
  background-color: var(--btn-bg-hover-focus);
  transform: translateY(-1px);
}

button:active {
  box-shadow: inset 1px 1px 2px #686868;
  transform: translateY(1px);
}

button:focus {
  background-color: var(--btn-bg-hover-focus);
  box-shadow: inset 1px 1px 2px #686868;
}

.input-normal:focus,
input:focus {
  border-color: #888;
  box-shadow: 0 0 5px rgba(100, 100, 100, 0.3);
}

.popup {
  position: fixed;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  padding: 50px;
  z-index: 1000;
}

.cerrar {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.input-normal,
input,
select, textarea {
  border: 1px solid #ccc;
  background-color: var(--input_bg);
  color: var(--text);
  outline: none;
  padding: 5px 8px;
  border-radius: 4px;
  transition: border 0.3s, box-shadow 0.3s;
}

.input-error {
  border: 2px solid red;
  color: var(--text);
  outline: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
  box-shadow: var(--content-shadow);
}

table th,
table td {
  border: 1px solid rgb(153, 153, 153);
  padding: 0.5em;
  text-align: center;
}

table th {
  background: var(--th-bg);
}

table tr:nth-child(even) {
  background-color: var(--tr-even);
}

table tr:hover {
  background-color: var(--tr-hover);
}

.p-error {
  color: red;
  background: linear-gradient(to left, #b0b0b0, #4f4f4f19);
  text-align: justify;
  padding: 0.5em;
}
.p-exito {
  color: rgb(0 143 19);
  background: linear-gradient(to left, #71996a, #126a0019);
  text-align: justify;
  padding: 0.5em;
}

.oculto {
  display: none;
}

#cerrarSesion {
  border: solid 1px rgb(255, 0, 0);
}
div.post {
  border: solid rgba(0, 0, 0, 0.17) 2px;
  border-radius: 10px;
  padding: 1em;
  margin: 1em 0;
  text-align: start;
  background: var(--div-user);
}

div.post > p {
  margin-left: 0;
}

.user {
  margin: 0;
  padding-bottom: 1em;
  font-weight: 500;
  text-align: start;
  border-bottom: solid 1px rgb(157, 157, 157);
}

i {
  color: var(--text);
}